.country-promo {
  background-color: #f6f6f6;
  margin-bottom: 20px;
}

.country-promo__wrapper {
  background-size: cover;
  background-position: center;
  padding: 40px 0;

  .container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
}

.country-promo__card {
  max-width: 700px;
  background: #ffffff99;
  padding: 30px;
  margin-right: 20px;
  backdrop-filter: blur(10px);
  text-align: justify;
}
