.country-promo {
    background-color: #f6f6f6;
    margin-bottom: 20px;
  }
  
  .country-promo__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
    margin-bottom: 20px;
  }
  
  .country-promo__card {
    width: 700px;
    border-right: solid 1px;
  }
  
 