.promo {
  height: 400px;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
  padding: 60px 0;

  &-link {
    text-decoration: none;
  }
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  animation: spacing 1s ease-out forwards;
  text-shadow: 2px 2px 6px black;
}

@keyframes spacing {
  0% {
    opacity: 0;
    letter-spacing: -30px;
  }
  100% {
    opacity: 1;
    letter-spacing: -4px;
  }
}